/* Header.css */


.banner-nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 1rem; 
    margin: 0; 
    border-radius: 5px;
    box-shadow: 2px 0px 10px;
    background-color: #fffdf9;
}

/* Estilos para el logo */
.logo-container {
    margin-right: 2rem; 
}

.logo-img {
    height: 3.5rem;
    width: auto;
}

/* menú del móvil */
.menu-mobile {
    display: none; 
}

/* Estilo para el menú desktop */
.menu-desktop {
    display: flex;
    gap: 1.5rem; 
    margin-left: 1rem;
}

/* Estilo para los enlaces de navegación */
.nav-link {
    font-weight: 600;
    color: #011423;
    font-size: 0.975rem;
    text-decoration: none;
    padding: 0.5rem; 
}

/* Sección de login */
.menu-login {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

/* Botón de menú móvil */
.menu-button {
    padding: 0.625rem;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #4B5563;
}